.about-container{
    margin: 4rem 6rem;
    text-align: start;
}

.about-container h1{
    border-bottom: 1px solid #8a8e8e;
}

.about-container p{
    padding-bottom: 2rem;
}

@media screen and (max-width: 850px) {
    .about-container{
        margin: 4rem 2rem;
    }
}