main{
    margin-top: 10px;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-pred{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
}

/* .uploaded-row{
     margin: 10px 0;
    display: flex; 
 justify-content: space-between;
    align-items: center;
    padding: 15px 20px; 
    border-radius: 5px;
    background-color: #e9f0ff;
}


.upload-button {
  display: block;
  } */

  .container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    margin: 20px; /* Adjust as needed */
    /* margin-left: 420px;
    margin-right: 420px; */
  }
  
  .upload-button {
    /* Add styles for the upload button */
    padding: 10px;
    background-color: #1455cf;
    color: white;
    display: block;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Adjust the space between the sections and the button */
  }
  
  .uploaded-row {
    display: flex;
    align-items: center;
    
  }
  
  .upload-content {
    margin-right: 10px; /* Adjust the space between the icon and the text */
   
  }
  